# node monorepo safety
node_modules/

# env files in root
.env
.env.local
.env.*.local

# docker
*.pid
*.seed
docker-data/
postgres-data/
volume/
tmp/

# logs
*.log
logs/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# pnpm / yarn / npm
pnpm-lock.yaml
yarn.lock
package-lock.json

# misc
*.tmp
